body { font-family: Belleza; }
.float-left { float: left; }
.float-right { float: right; }
.clear {
	float: none;
	clear: both;
}
.logo img {
	padding: 20px;
    width: 100px;
}
.content-wrapper {
	margin-top: 20px;
	margin-bottom: 50px;
}
.item-row {
	width: 960px;
	margin: 0 auto;
}
.tile a,
.tile .label {
	font-family: Belleza;
	font-size: 21px;
	text-decoration: none;
	color: #fff;
}
.tile-1 {
    background-color: #333366;
    cursor: pointer;
    float: left;
    height: 200px;
    margin: 10px;
    padding: 20px 20px 0;
    width: 260px;
}
.tile-1.selected,
.tile-1.active {
	height: 210px;
    margin: 0;
    padding: 30px 30px 0 30px;
    width: 260px;
}
.branding-wrapper,
.footer-wrapper { background-color: #f1f1f1; }
.branding {
	font-family: Belleza;
    font-size: 25px;
    line-height: 89px;
    margin-right: 25px;
}
.icon-wrapper {
	height: 160px;
	text-align: center;
}
.detail-container {
	background-color: #333;
	padding: 15px 15px 50px;
	margin-bottom: 50px;
	display: none;
}
.detail-container.active { display: block; }
.detail-container .detail-wrapper {
	margin: 0 auto;
	width: 1031px;
}
.screenshot {
	border-right: 1px #ccc solid;
	margin-right: 40px;
    padding-right: 40px;
    width: 450px;
}
.screenshot img { width: 450px; }
.description { width: 500px; }
.description p {
	font-family: Bitter;
	margin-bottom: 40px;
	color: #999;
	line-height: 19px;
	font-size: 15px;
}
.description a {
	font-family: Bitter;
	background-color: #275839;
	border: 1px solid #666;
    padding: 10px 30px;
    color: #ccc;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.footer-wrapper { text-align: center; }
.footer-wrapper p {
    color: #666;
    display: inline-block;
    padding: 10px 40px;
}
.close-it { cursor: pointer; }